@charset "UTF-8";
/* CSS Document */

/* ***************** */
/* ***** GLOBAL **** */
/* ***************** */

html, body { 
    color: #000;
}




/* ***************** */
/* * HEADER/FOOTER * */
/* ***************** */

.phone-menu {
    background: #000;
}

.footer {
    background: #f3f3f3;
    font-size: 11px;
    text-align: center;
    color: #999;
}

.footer a {
    color: #666;
    text-decoration: none;
}




/* ***************** */
/* ****** ADS ****** */
/* ***************** */

.dfp720x90, 
.dfp300x250 {
    background: #eee;
}




/* ***************** */
/* *** FIXED MENU ** */
/* ***************** */

.top-nav {
    background: #999;
    border-bottom: 1px solid #000;
}

.top-nav li {
    border-left: 1px solid #333;
}

.top-nav li:last-child {
    border-right: 1px solid #333;
}

.top-nav a {
    color: #fff;
}

.top-nav a:hover {
    color: #666;
    transition: color .3s ease;
}




/* ***************** */
/* *** MAIN MENU *** */
/* ***************** */

.menu-wrapper .chatter {
    font-size: 14px;
    line-height: 19px;
    color: #444;
}

.menu li a {
    background-color: #000;
    text-decoration:none;
    color:#fff;
    border-radius: 12px;
}

.menu li a:hover {
    background-color: #999;
    text-decoration:none;
}

.menu .share-text {
    font-size: 14px;
    text-transform: uppercase;
}




/* ***************** */
/* *** HOMEPAGE **** */
/* ***************** */

.infobox p {
    color: #fff;
}

.infobox li {
    background: #d02235;
}

.infobox li a {
    color: #fff;
    text-decoration: none;
}

.infobox li:hover {
    background: #a80e1f;
    transition: background .3s ease;
}

.featured, .module, .map-module {
    background-color: #eee;
}

.featured .featured-identity h3, 
.module h3 {
    background: #d02235;
}

.featured .featured-identity h3:hover,
.module h3:hover {
    background: #a80e1f;
    transition: background .3s ease;
}

.featured .featured-identity h3 a, 
.module h3 a {
    text-decoration: none;
    color: #fff;
}

.featured .featured-identity p {
    color: #fff;
    text-transform: capitalize;
}

.featured .featured-identity p a {
    text-decoration: none;
    color: #fff;
}

.module p {
    text-align: right;
}

.module p span {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
}




/* ***************** */
/* **** RESULTS **** */
/* ***************** */

.article-rail .type-links li,
.results-rail .type-links li {
    background: #d02235;
}

.article-rail .type-links li a,
.results-rail .type-links li a {
    color: #fff;
    text-decoration: none;
}

.article-rail .type-links li:hover,
.results-rail .type-links li:hover {
    background: #a80e1f;
    transition: background .3s ease;
}

.filter-panel {
    background: #e9e9e9;
}

.filter-panel input.search {
    border: 1px solid #bbb;
    color: #333;
}

.filter-panel a.filter-heading {
    color: #333;
    border-top: 1px solid #bbb;
}

.filter-panel a.filter-heading:hover {
    background-color: #bbb;
    transition: background-color .2s ease;
}

.filter-panel ul li {
    background-color: #999;
    border-bottom: 1px solid #666;
    color: #fff;
}

.filter-panel ul li:hover {
    background-color: #666;
    transition: background .2s ease;
    cursor: pointer;
}

.filter-panel ul li.selected {
    background: url('../_global/best-icon-selected.png') right center no-repeat #666;
}

.results-body p.results-type {
    background: #d02235;
    color: #fff;
}

.results-body p.applied-filters {
    background: #e9e9e9;
    color: #666;
}

.results-body p.applied-filters span {
    color: #d02235;
}

.results ul li {
    background-color: #eee;
}

.results ul li span {
    text-transform: capitalize;
    color: #fff;
}

.results li:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}







/* ***************** */
/* **** ARTICLE **** */
/* ***************** */

.articles-left-div {
    background: #eee;
    color: #333;
}

.photo-containment-div {
    border: none;
}

.article-body .photo-credit {
    color: #999;
}

.article-heading .winner-type {
    color: #525252;
}

.article-body .winner-name {
    border-top: 1px solid #eee;
    color: #525252;
}

.article-body address {
    color: #555;
}

.article-body a {
    color: #368fca;
    font-family:'Futura Today Screen Normal';
    font-size: 16px;
}

.article-body .article-content {
    border-top: 1px solid #eee;
    color: #333;
}

.article-body .article-content u {
    text-decoration: none;
    color: #368fca;
}

.article-body .winner-byline {
    color: #888;
}

.article-rail .type-links li {
    background: #d02235;
}

.article-rail .type-links li a {
    color: #fff;
    text-decoration: none;
}

.article-rail .type-links li:hover {
    background: #a80e1f;
    transition: background .3s ease;
}

.article-discovery p.near-me {
    background: #d02235;
    color: #fff;
}



/* ***************** */
/* **** PHONE **** */
/* ***************** */

.device-phone .infobox {
    background: #7c7c7c;
}

.device-phone .top-nav ul {
    background: none;
}

.device-phone .top-nav li {
    border-left: none;
    border-bottom: 1px solid #464c4f;
}
    
.device-phone .top-nav li:last-child {
    border: none;
}
