@charset "UTF-8";
/* CSS Document */

/* ***************** */
/* ***** FONTS ***** */
/* ***************** */

@import url('http://pages.azcentral.com/gannett-fonts/css/futura.css');


/* ***************** */
/* ***** GLOBAL **** */
/* ***************** */

html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    font-family: 'Futura Today';
}

a {
    text-decoration: none;
}

.wrapper {
    position: relative;
    width: 1100px;
    min-width: 1100px;
    margin: 25px auto;
}

.main-content {
    float: right;
    width: calc(100% - 215px);
    margin: 0 0 200px 0;
}

.section {
    padding: 30px 0;
    text-align: left;
}

.section .header {
    margin: 0 0 25px 0;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.section ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

.section ul li {
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 24px;
}

.section ul li a {
    display: block;
}

.section ul li:hover a {
    transition: color .4s ease;
}

.preview-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: right;
    background: url('../_global/b-bg-trans.png');
    z-index: 3;
}

.preview-title span {
    display: block;
    padding: 12px;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    word-wrap: break-word;
}

.clear {
    clear: both;
    height: 0;
}






/* ***************** */
/* * HEADER/FOOTER * */
/* ***************** */

.cobrand-menu {
    width: 100%;
    height: 40px;
    overflow: hidden;
	border-bottom: 1px solid #888;
    padding-bottom: 6px;
}

.mobile-menu {
    position: relative;
    display: none;
    height: 50px;
    overflow: hidden;
    z-index: 50;
	margin-top: -48px;
}

.mobile-nav-button {
    float: left;
    margin: 0 0 0 10px;
    cursor: pointer;
}

.mobile-search-button {
    float: right;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.mobile-search {
    display: none;
    float: right;
    box-sizing: border-box;
    width: 40%;
    margin: 8px 25px 8px 0;
    padding: 0 10px;
    line-height: 30px;
    font-size: 13px;
}

.mobile-menu-slideout {
    display: none;
    position: fixed;
    top: 47px;
    left: 0;
    width: 300px;
    height: 100%;
    z-index: 20;
}

.mobile-menu-slideout ul {
    width: 100%;
    margin: 0px 0 0 0;
    padding: 0;
    list-style: none;
}

.mobile-menu-slideout ul li a {
    display: block;
    padding: 20px;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
	position: relative;
    vertical-align: top;
    height: 23px;
}

.twitter, .facebook {
	vertical-align: top;
    position: relative;
    top: -3px;
}

.site-profile {
	padding-left: 6px;
}


.article-meter {
    text-align: center;
    line-height: 30px;
    font-family:'Futura Today Light';
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer {
    clear: both;
    font-size: 12px;
    line-height: 16px;
}





/* ****************** */
/* *** STICKY NAV *** */
/* ****************** */

.sticky-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 46px;
    z-index: 50;
}

.site-share {
    float: left;
}

.site-share p {
    float: left;
    display: inline-block;
    margin: 0 6px 0 15px;
    padding: 0;
    text-transform: uppercase;
    font-family:'Futura Today Light';
    line-height: 46px;
    font-size: 13px;
}

.site-share a {
    display: inline-block; 
}

.site-location {
    float: right;
    margin: 0 15px 0 0;
    font-size: 14px;
}

.site-location img {
    vertical-align: middle;
    margin-top: -2px;
}

.site-location p {
    display: inline;
    line-height: 46px;
}

.site-location span {
    display: inline-block;
    padding-left: 15px;
    font-family:'Futura Today Light';
    text-decoration: underline;
}

.site-location:hover {
    cursor: pointer;
}

.site-location-popup {
    display: none;
    position: absolute;
    bottom: 46px;
    right: 0;
    width: 300px;
    height: 55px;
    text-align: center;
    line-height: 46px;
}

.location-input {
    box-sizing: border-box;
    width: calc(100% - 30px);
    margin: 13px 15px;
    padding: 0 10px;
    line-height: 28px;
    font-size: 13px;
}

.article-nav-left {
    position: fixed;
    display: none;
    top: calc(50% - 60px);
    left: 0;
    width: 25px;
    height: 120px;
    background: url('../_global/b-left-nav-arrow.png');
    opacity: .5;
    z-index: 10;
}

.article-nav-right {
    position: fixed;
    display: none;
    top: calc(50% - 60px);
    right: 0;
    width: 25px;
    height: 120px;
    background: url('../_global/b-right-nav-arrow.png');
    opacity: .5;
    z-index: 10;
}

.article-page .article-nav-left,
.article-page .article-nav-right {
    display: block;
}

.article-page .article-nav-left:hover,
.article-page .article-nav-right:hover {
    transition: opacity 1s ease;
    opacity: 1;
}




/* ***************** */
/* ****** ADS ****** */
/* ***************** */

.dfp728x90 {
    clear: both;
    width: 728px;
    height: 90px;
    margin: 20px 0;
}

.dfp300x250 {
    width: 300px;
    height: 250px;
    margin: 0 0 22px 0;
}

.results-page .dfp300x250 {
    float: right;
    display: block;
    padding: 45px 19px;   
    text-align: center;
}




/* ****************** */
/* **** SITE NAV **** */
/* ****************** */

.main-nav {
    float: left;
    width: 185px;
    margin: 0 0 80px 0;
    text-align: center;
}

.main-nav .logo {
    width: 152px;
    margin: 0 auto;
}

.blurb {
    margin: 20px 0;
    font-size: 15px;
    line-height: 22px;
    text-align: left;
}

.site-search {
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0 10px 0;
    padding: 0 10px 0 36px;
    line-height: 36px;
    font-size: 13px;
    background: url('../_global/b-search-icon.png') 10px center no-repeat;
}




/* ***************** */
/* *** HOMEPAGE **** */
/* ***************** */

.top-promo {
    padding: 6px 15px;
    margin: 0 0 20px 0;
    text-align: center;
}

.top-promo p {
    margin: 0;
    font-family:'Futura Today DemiBold';
    letter-spacing: .6px;
}

.home-rail {
    float: right;
    width: 300px;
}

.module {
    position: relative;
    display: block;
    min-height: 250px;
    margin: 0 0 22px 0;
    background: center center no-repeat #eee;
    background-size: cover;
}

.module .cover {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 250px;
    z-index: 2;
}

.module .cover:hover {
    transition: background-color .5s ease;
    background-color:rgba(0, 0, 0, 0.2);
}

.module h3 {
    position: absolute;
    left: -10px;
    margin: 10px 0;
    line-height: 35px;
    z-index: 5;
}

.module h3 a {
    display: block;
    height: 100%;
    width: 100%;
    padding: 8px 0 8px 22px;
}

.module h3 a:hover {
    transition: background .4s ease;
}

.module h3 span {
    position: absolute;
    bottom: -7px;
    left: 0;
    display: block;
    height: 7px;
    width: 10px;
}

.module h3 span img {
    position: absolute;
    top: 0;
    left: 0;
}

.module .preview-title span {
    padding: 16px;
    font-size: 22px;
    line-height: 24px;
}

.featured {
    float: left;
    width: calc(100% - 324px);
    height: 522px;
}

.nearby {
    float: left;
    width: calc(100% - 324px);
    background: url('../_global/b-loading.gif') center center no-repeat;
}




/* ***************** */
/* **** RESULTS **** */
/* ***************** */

.results-page {
    overflow-y: scroll;
}

.results-header {
    position: relative;
    width: 100%;
    min-height: 50px;
    margin: 0 0 30px 0;
}

.results-header .winner-type {
    width: 400px;
    margin: 0;
    padding: 0;
    font-family:'Futura Today DemiBold';
    font-size: 36px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.results-filter-tabs {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 5px 0 0;
    padding: 0;
}

.results-filter-tabs a {
    display: inline-block;
    height: 49px;
    width: 150px;
    margin: 0 5px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
}

.filter-panel,
.sort-panel {
    display: none;
    padding: 16px 0 40px 25px;
}

.status-bar {
    margin: 0 40px 16px 0;
}

.status-bar p {
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 0 0 20px 0;
    font-size: 15px;
    letter-spacing: .5px;
    vertical-align: 50%;
}

.status-bar p a {
    color: inherit;
    text-decoration: underline;
}

.filter-panel .close-panel, .sort-panel .close-panel { 
    display: inline-block;
    font-size: 14px;
    vertical-align: 50%;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
    color: #85c6f1;
    float: right;
    position: absolute;
    right: 18px;
    text-decoration: underline;
}

.filter-panel ul {
    float: left;
    box-sizing: border-box;
    width: 50%;
    margin: 0;
    padding: 0 40px 0 0;
    list-style: none;
}

.sort-panel ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.results-header ul p {
    margin: 0 0 20px 0;
    font-family:'Futura Today Light';
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .5px;
}

.results-header ul li {
    display: inline-block;
    margin: 0 12px 12px 0;
}

.results-header ul li a {
    display: block;
    padding: 10px;
    line-height: 20px;
    cursor: pointer;
}

.results-header ul li.selected a {
    padding: 10px 8px 10px 10px;
}

ul.winner-list {
    box-sizing: border-box;
    width: calc(100% 24px);
    min-height: 360px;
    margin: 0 0 0 -24px;
    padding: 0;
    list-style: none;
}

ul.winner-list li {
    display: inline-block;
    position: relative;
    width: 155px;
    height: 155px;
    margin: 0 0 26px 24px;
    background: center center no-repeat #eee;
    background-size: cover;
}

ul.winner-list li a {
    display: block;
    height: 100%;
    width: 100%;
}

ul.winner-list li a:hover {
    transition: background-color .5s ease;
    background-color:rgba(0, 0, 0, 0.2);
}




/* ***************** */
/* **** ARTICLE **** */
/* ***************** */

.article-heading {
    float: left;
    width: calc(100% - 185px);
    margin: 0 0 35px 0;
}

.article-heading p {
    margin: 0;
    word-wrap: break-word;
}

.article-heading .breadcrumb {
    padding: 0 0 30px 0;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
}

.article-heading .breadcrumb img {
    vertical-align: top;
}

.article-heading .award-type {
    padding: 0;
    font-size: 26px;
    text-transform: capitalize;
    font-family: 'Futura Today Light';
}

.article-heading .winner-name {
    padding: 0;
    font-size: 40px;
    line-height: 40px;
    text-transform: capitalize;
    font-family: 'Futura Today DemiBold';
}

ul.article-sharing {
    float: right;
    width: 160px;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.article-sharing li {
    height: 40px;
    margin: 0 0 6px 0;
    font-family: 'Futura Today Light';
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
}

ul.article-sharing li:last-child {
    margin: 0 0 0 0;
}

ul.article-sharing li a {
    display: block;
    height: 100%;
    width: 100%;
}

ul.article-sharing li a:hover {
    transition: background-color .5s ease;
    background-color:rgba(0, 0, 0, 0.2);
}

ul.article-sharing li img {
    vertical-align: top;
    padding: 8px 15px 0 0;
}

.article-media {
    float: left; 
    position: relative;
    display: inline-block;
    width: 560px;
    min-height: 315px;
    margin: 0 0 25px 0;
}

.article-media .map {
    height: 100%;
    width: 100%;
}

.article-media #map {
    position: absolute;
    top: 0;
}

.article-media .video {
    height: 100%;
}

.article-media .image {
    position: relative;
    width: 100%;
    height: 100%;
    background: center center no-repeat;
    background-size: cover;
}

.article-media .media-switcher {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: auto;
    background: url('../_global/b-bg-trans.png');
    z-index: 5;
}

.article-media .media-switcher a {
    display: block;
    width: 45px;
    height: 45px;
    margin: 4px 0;
    text-indent: -9999px;
    opacity: 0.5;
}

.article-media .media-switcher a:hover {
    opacity: 0.8;
}

.article-media .media-switcher a.selected {
    opacity: 1;
}

.article-media .media-switcher a.photo {
    background: url('../_global/b-icon-media-photo.png') center center no-repeat;
}

.article-media .media-switcher a.video {
    background: url('../_global/b-icon-media-video.png') center center no-repeat;
}

.article-media .media-switcher a.map {
    background: url('../_global/b-icon-media-map.png') center center no-repeat;
}

.article-media .photo-credit {
    margin: 0;
    padding: 0;
    text-align: right;
    font-size: 12px;
    font-style: italic;
}

.article-rail {
    float: right;
    width: 300px;
    margin: -342px 0 30px 0;
}

.article-rail .section {
    border-bottom: none;
}

.article-rail ul.winner-list {
    width: calc(100% 16px);
    min-height: 150px;
    margin: 0 0 0 -16px;
    padding: 0;
}
      
.article-rail ul.winner-list li {
    width: 140px;
    height: 140px;
    margin: 0 0 18px 16px;
}  

.article-content {
    float: left;
    display: inline-block;
    width: 560px;
}

.article-content p {
    margin: 22px 0;
    padding: 0;
    font-size: 16px;
    line-height: 28px;
}

.article-content .byline {
    font-size: 12px;
    font-style: italic;
}

.article-contact {
    width: 100%;
    padding: 22px 0;
}

.article-contact p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
}



/* ***************** */
/* ** RESPONSIVE *** */
/* ***************** */


/* *** 990 BREAKPOINT *** */
@media only screen 
  and (min-width: 991px) 
  and (max-width: 1200px) {
    
    .wrapper {
        width: 920px;
        min-width: 920px;
    }
      
    .main-nav {
        width: 160px;
    }
      
    .main-content {
        width: calc(100% - 190px);
    }
    
    .results-page .dfp300x250 {
        padding: 51px 26px;   
    }

    ul.winner-list li {
        width: 161px;
        height: 161px;
        margin: 0 0 26px 24px;
    }

    .article-media {
        width: 100%;
        min-height: 411px;
    }
      
    .article-rail {
        margin: 0 0 30px 0;
    }
      
    .article-content {
        width: calc(100% - 325px);
    }
      
}


/* *** 750 ONLY *** */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 990px) {
    
    .wrapper {
        width: 728px;
        min-width: 728px;
    }
    
    .main-nav .logo {
        float: left;
        width: 135px;
        margin-right: 22px;
    }
      
    .main-nav .section {
        border-bottom: none;
        text-align: center;
    }
      
    .home-page .winners-links ul {
        float: right;
        width: calc(100% - 160px);
        padding: 0;
        margin: 0;
    }
      
    .home-page .winners-links ul li {
        float: left;
        display: inline-block;
        padding: 0;
        margin: 0;
        line-height: 100%;
    }
      
    .home-page .winners-links ul li a {
        padding: 15px;
    }
      
    .results-page .dfp300x250 {
        padding: 51px 26px;   
    }

    .results-page ul.winner-list li {
        width: 161px;
        height: 161px;
        margin: 0 0 26px 24px;
    }
      
    .article-media {
        width: 100%;
        min-height: 411px;
    }

    .article-content {
        width: calc(100% - 325px);
    }
      
}



/* *** ALL MOBILE VIEWS *** */
@media only screen 
  and (max-width: 990px) {
      
    .cobrand-menu {
        /*display: none;*/
    }

    .mobile-menu {  
        display: block;
    }
      
    .footer {
        text-align: center;
    }
      
    .main-nav {
        float: none;
        width: 100%;
        margin-bottom: 30px;
    }
      
    .main-content {
        clear: both;
        float: none;
        width: 100%;
        margin-bottom: 200px;
    }
      
    .site-search {
        display: none;
    }
      
    .main-nav .section {
        border-bottom: none;
        text-align: center;
        margin: 0;
        padding: 0;
    }
      
    .alt-links {
        display: none;
    }
      
    .winners-links .header {
        display: none;
        margin: 0;
        padding: 0;
    }  
      
    .article-rail {
        margin: 0 0 30px 0;
    }
    
    .results-page .main-nav img.logo,
    .article-page .main-nav img.logo {
        float: left;
        margin: 0;
    }
      
    .results-page .main-nav .blurb,
    .article-page .main-nav .blurb {
        display: none;
    }
      
    .results-page .main-nav .winners-links ul,
    .article-page .main-nav .winners-links ul {
        position: relative;
        float: right;
        width: calc(100% - 180px);
        height: 75px;
        margin: 0;
        padding: 0;
        border: none;
        z-index: 10;
    }  
      
    .results-page .main-nav .winners-links ul li,
    .article-page .main-nav .winners-links ul li {
        display: none;
        width: 100%;
        height: 75px;
        margin: 0;
        padding: 0;
        line-height: 75px;
        text-align: left;
        cursor: pointer;
    }  
      
    .results-page .main-nav .winners-links ul li:first-child,
    .article-page .main-nav .winners-links ul li:first-child {
        display: block;
    }

    .results-page .main-nav .winners-links ul li a,
    .article-page .main-nav .winners-links ul li a {
        pointer-events: none;
        padding: 0 0 0 15px;
    }
      
}



/* *** ALL PHONE VIEWS *** */
@media only screen 
  and (max-width: 767px) {
  
    .main-content {
        margin-bottom: 200px;
    }
      
    .footer {
        clear: both;
        padding: 20px 0 0 0;
    }
      
    .main-nav .section ul li {
        line-height: 55px;
        font-size: 18px;
    }
      
    .dfp728x90 {
        display: none;
    }
      
    .winners-links,
    .site-location img {
        margin: 0;
    }
      
    .home-page .winners-links {
        margin: 0 0 50px 0;
    }
      
    .winners-links ul li {
        margin-bottom: 0;
    }
      
    .results-page .main-nav img.logo,
    .article-page .main-nav img.logo {
        width: 100px;
    }
      
    .results-page .main-nav .winners-links ul,
    .article-page .main-nav .winners-links ul {
        width: calc(100% - 120px);
    }  
      
    .site-location-popup {
        width: 100%;
    }
      
    .home-rail {
        float: none;
        width: 100%;
    }
      
    .module {
        float: none;
        width: 100%;
        height: 250px;
    }
      
    .results-header .winner-type {
        display: none;
    }
    
    .results-filter-tabs {
        position: relative;
        top: 1px;
        width: 268px;
        margin: 0 auto;
    }
      
    .results-filter-tabs a {
        width: 120px;
    }
      
    .status-bar .close-panel {
        vertical-align: top;
    }  
    
    .filter-panel ul {
        display: block;
        width: 100%;
        margin: 0 0 40px 0;
    }
      
    .results-page .dfp300x250 {
        float: none;
        width: 100%;
        padding: 20px 0;
        margin: 0 auto 25px auto;
    }

    .article-heading {
        float: none;
        width: 100%;
    }  
    
    .article-heading .breadcrumb {
        display: none;
    }  
      
    ul.article-sharing {
        float: none;
        width: 100%;
        height: auto;
        margin: 0;
    }
      
    .article-media {
        float: none;
        width: 100%;
    }
      
    .article-content {
        float: none;
        width: 100%;
    }
      
    .article-rail {
        float: none;
        margin: 0 auto;
    }

}



/* *** 480 ONLY *** */

@media only screen 
  and (min-width: 481px) 
  and (max-width: 767px) {
    
    .wrapper {
        width: 450px;
        min-width: 450px;
    }
      
    .main-nav .logo {
        float: left;
        width: 125px;
        margin-right: 22px;
    }
    
    .home-page .dfp300x250,
    .article-rail .dfp300x250 {
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }
    
    .results-page ul.winner-list,
    .article-rail ul.winner-list {
        width: 100%;
        min-height: 170px;
        margin: 0;
        padding-left: 15px;
    }
      
    .results-page ul.winner-list li,
    .article-rail ul.winner-list li{
        width: 156px;
        height: 156px;
        margin: 0 0 28px 35px;
    }
      
    ul.article-sharing li {
        display: inline-block;
        width: 32%;
        margin: 0 5px 20px 0;
    }
      
    .article-media, .article-media #photo {
        min-height: 253px;
    }  
    
    .article-rail {
        width: 100%;
    }
    

}


/* *** 320 ONLY *** */
@media only screen 
  and (min-width: 1px) 
  and (max-width: 480px) {
    
    .mobile-search {
        width: 60%;
    }
      
    .mobile-menu-slideout {
        width: 280px;
    }
      
    .wrapper {
        width: 300px;
        min-width: 300px;
    }
      
    .main-nav .logo {
        float: none;
        width: 125px;
        margin: 0 auto;
    }
      
    .blurb {
        margin-top: 10px;
    }
      
    .site-location p, 
    .site-location span {
        display: none;
    }
    
    .results-page .dfp300x250 {
        padding: 0 !important;   
    }  
      
    .results-page ul.winner-list {
        width: calc(100% 16px);
        min-height: 150px;
        margin: 0 0 0 -16px;
        padding: 0;
    }
      
    .results-page ul.winner-list li {
        width: 140px;
        height: 140px;
        margin: 0 0 18px 16px;
    }  
    
    .results-page .main-nav .winners-links ul li a,
    .article-page .main-nav .winners-links ul li a {
        padding: 0 0 0 5px;
    }  
      
    .status-bar p {
        font-size: 14px;
    }
      
    ul.article-sharing li {
        display: inline-block;
        width: 32%;
        margin: 0 2px 20px 0;
    }
      
    ul.article-sharing li img {
        padding-right: 0;
    }
      
    ul.article-sharing li span {
        display: none;
    }
      
    .article-media, .article-media #photo {
        min-height: 169px;
    }  
      
}





