@charset "UTF-8";
/* CSS Document */

/* ***************** */
/* ***** FONTS ***** */
/* ***************** */

@font-face {
    font-family:'Futura Today Screen Normal';
    src:url(../_global/fonts/FuturaTodayScreenNormal.eot);
    src:url(../_global/fonts/FuturaTodayScreenNormal.svg#FuturaTodayScreenNormal) format('svg'),
    url(../_global/fonts/FuturaTodayScreenNormal.eot?#iefix) format('embedded-opentype'),
        url(../_global/fonts/FuturaTodayScreenNormal.woff) format('woff'),
        url(../_global/fonts/FuturaTodayScreenNormal.ttf) format('truetype');
        
    font-style:normal;
}

@font-face {
    font-family:'Futura Today Screen Bold';
    src:url(../_global/fonts/FuturaTodayScreenBold.eot);
    src:url(../_global/fonts/FuturaTodayScreenBold.svg#FuturaTodayScreenBold) format('svg'),
        url(../_global/fonts/FuturaTodayScreenBold.eot?#iefix) format('embedded-opentype'),
        url(../_global/fonts/FuturaTodayScreenBold.woff) format('woff'),
        url(../_global/fonts/FuturaTodayScreenBold.ttf) format('truetype');
        
    font-style:normal;
}

@font-face {
    font-family:'Futura Today Screen DemiBold';
    src:url(../_global/fonts/FuturaTodayScreenDemiBold.eot);
    src:url(../_global/fonts/FuturaTodayScreenDemiBold.svg#FuturaTodayScreenDemiBold) format('svg'),
        url(../_global/fonts/FuturaTodayScreenDemiBold.eot?#iefix) format('embedded-opentype'),
        url(../_global/fonts/FuturaTodayScreenDemiBold.woff) format('woff'),
        url(../_global/fonts/FuturaTodayScreenDemiBold.ttf) format('truetype');
        
    font-style:normal;
}

@font-face {
    font-family:'Futura Today Screen Light';
    src:url(../_global/fonts/FuturaTodayScreenLight.eot);   
    src:url(../_global/fonts/FuturaTodayScreenLight.svg#FuturaTodayScreenLight) format('svg'),
        url(../_global/fonts/FuturaTodayScreenLight.eot?#iefix) format('embedded-opentype'),
        url(../_global/fonts/FuturaTodayScreenLight.woff) format('woff'),
        url(../_global/fonts/FuturaTodayScreenLight.ttf) format('truetype');
        
    font-style:normal;
}





/* ***************** */
/* ***** GLOBAL **** */
/* ***************** */

html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    font-family: 'Futura Today Screen Normal';
}

.wrapper {
    position: relative;
    width: 100%;
    min-width: 100%;
    margin: 0 auto;
}

.content {
    float: left;
    position: relative;
    width: 800px;
    height: auto;
    margin-top: 20px;
}

.expand {
    width: 100%;
    height: 100%;
}

.nowrap {
    white-space: nowrap;
}

.clear {
    clear: both;
}



/* ***************** */
/* * HEADER/FOOTER * */
/* ***************** */

.cobrand-menu {
    width: 100%;
    height: 40px;
    overflow: hidden;
}

.footer {
    clear: both;
    padding: 20px;
}

.footer p {
    margin: 0;
}



/* ***************** */
/* ****** ADS ****** */
/* ***************** */

.dfp728x90 {
    clear: both;
    width: 728px;
    height: 90px;
    margin: 20px auto;
}

.dfp300x250 {
    width: 300px;
    height: 250px;
    margin: 0 auto;
}




/* ****************** */
/* **** TOP MENU **** */
/* ****************** */

.top-nav {
    width: 100%;
    margin: 0;
}

.top-nav div {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: left;
}

.top-nav ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-nav li {
    display: block;
    height: 60px;
    padding: 0 14px;
    line-height: 60px;
}

.top-nav a {
    display: block;
    height: 100%;
    font-family: 'Futura Today Screen Light';
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

.top-nav img {
    vertical-align: middle;
}

.top-nav .mobile-menu {
    height: 30px;
    line-height: 30px;
}



/* ***************** */
/* *** HOMEPAGE **** */
/* ***************** */

.infobox {
    position: relative;
    width: 300px;
    margin: 20px auto;
    text-align: center;
    z-index: 10;
}

.infobox .bestlogo img {
    width: 250px;
    margin: 20px auto 0 auto;
}

.infobox p {
    padding: 0 20px;
    font-size: 14px;
    line-height: 20px;
}

.infobox ul {
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
}

.infobox li {
    margin: 10px 20px;
    line-height: 40px;
    border-radius: 10px;
}

.infobox li a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
}

.featured {
    position: relative; 
    height: 250px;
    width: 300px;
    margin: 0 auto 20px auto;
    background: center center no-repeat;
    background-size: cover;  
}

.featured a, 
.module a {
    display: block;
    width: 100%;
    height: 100%;
}

.featured .featured-identity {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: auto;
    z-index: 10;
}

.featured .featured-identity h3 {
    position: absolute;
    top: -45px;
    left: -7px;
    height: 35px;
    overflow: hidden;
    z-index: 10;
}

.featured .featured-identity h3 a {
    display: block;
    width: 100%;
    padding: 0 12px 0 12px;
    font-size: 22px;
    line-height: 35px;
    font-weight: normal;
}

.featured .featured-identity img.flag {
    position: absolute;
    top: 7px;
    left: -7px;
}

.featured .featured-identity p {
    display: block;
    height: 100%;
    width: 276px;
    padding: 12px;
    margin: 0;
    background: url('../_global/bg-overlay.png');
    text-align: right;
    text-decoration: none;
    word-wrap: break-word;
    font-size: 24px;
    line-height: 30px;
}

.featured .featured-identity p a {
    display: block;
    height: 100%;
    width: 100%;
}

.module {
    position: relative; 
    height: 250px;
    width: 300px;
    margin: 0 auto 20px auto;
}

.module h3 {
    display: block;
    position: absolute;
    top: -12px;
    left: -7px;
    height: 35px;
    overflow: hidden;
    z-index: 10;
}

.module h3 a {
    display: block;
    width: 100%;
    padding: 0 12px 0 12px;
    font-size: 22px;
    line-height: 35px;
    font-weight: normal;
}

.module img.flag {
    position: absolute;
    top: 42px;
    left: -7px;
}

.module p {
    display: block;
    position: absolute;
    right: 0;
    bottom: -16px;
    width: 100%;
    background: url('../_global/bg-overlay.png');
}

.module p span {
    display: block;
    padding: 10px;
    font-size: 24px;
    line-height: 30px;
    word-wrap: break-word;
}

.map-module {
    width: 300px;
    margin: 20px auto;
    background: url('../_global/loading-map.gif') center center no-repeat transparent;
}






/* ***************** */
/* **** RESULTS **** */
/* ***************** */

.results-rail {
    width: 300px;
    margin: 0 auto;
}

.results-rail .dfp300x250,
.article-rail .dfp300x250 {
    float: none;
    margin-bottom: 30px;
}

.results-rail .type-links,
.article-rail .type-links {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.results-rail .type-links li,
.article-rail .type-links li {
    margin: 0 0 10px 0;
    line-height: 40px;
    border-radius: 10px;
    text-align: center;
}

.results-rail .type-links li a,
.article-rail .type-links li a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
}

.filter-panel {
    margin: 20px 0;
    padding: 10px 0 0 0;
}

.filter-panel .resultslogo {
    position: relative;
    width: 180px;
    left: calc(50% - 90px);
}

.filter-panel input.search {
    -webkit-appearance: textfield;
    box-sizing: content-box;
    height: 40px;
    width: 220px;
    margin: 0 0 20px 15px;
    padding: 0 10px 0 36px;
    background: url('../_global/best-icon-search.png') left center no-repeat #FFF;
    border-radius: 8px;
    line-height: 40px;
    font-size: 16px;
    text-align: left;
}

.filter-panel a.filter-heading {
    display: block;
    margin: 0;
    padding: 0 20px;
    line-height: 50px;
    font-size: 18px;
    text-decoration: none;
    background: url('../_global/best-icon-sort-down.png') right center no-repeat;
}

.filter-panel ul {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-panel ul li {
    padding: 0 20px;
    line-height: 50px;
    font-size: 14px;
}

.filter-panel ul li:last-child {
    border: none;
}

.results-body {
    width: 300px;
    margin: 0 auto;
}

.results-body p.results-type {
    position: relative;
    height: 45px;
    margin: 0;
    padding: 0 12px;
    font-size: 20px;
    line-height: 45px;
    text-align: left;
    overflow: visible;
}

.results-body p.results-type img.flag {
    position: absolute;
    top: 45px;
    left: 0;
}

.results-body p.applied-filters {
    margin: 0 7px 20px 7px;
    padding: 8px 10px;
    font-size: 12px;
}

.results-body p.applied-filters a.clear-filters {
    display: inline-block;
    padding: 0 0 0 10px;
    color: inherit;
    cursor: pointer;
}

.results ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.results ul li {
    display: inline-block;
    position:relative;
    width: 132px;
    height: 132px;
    margin: 0 7px 17px 8px;
    padding: 0;
    background: center center no-repeat;
    background-size: cover;    
}

.results ul li p {
    position: absolute;
    bottom: 0;
    width: 120px;
    margin: 0;
    padding: 6px;
    background: url('../_global/bg-overlay.png');
    text-align: right;
}

.results ul li.award a {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.results ul li span {
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    word-wrap: break-word;
}






/* ***************** */
/* **** ARTICLE **** */
/* ***************** */

a.pagenavleft {
    position: fixed;
    top: 50%;
    left: -10px;
    width: 48px;
    height: 100px;
    background: url('../_global/best-pagenav-left.png');
    cursor: pointer;
    z-index: 9999;
}

a.pagenavright {
    position: fixed;
    top: 50%;
    right: -10px;
    width: 48px;
    height: 100px;
    background: url('../_global/best-pagenav-right.png');
    cursor: pointer;
    z-index: 9999;
}

.article-meter-count {
    margin: 0 0 20px 0;
    padding: 4px 0;
    font-size: 14px;
    text-align: center;
}

.article-heading {
    width: 100%;
    margin-top: 10px;
}

.article-heading .articlelogo {
    position: relative;
    float: left;
    width: 120px;
    margin: 0 5px -20px 0;
    z-index: 10;
}

.article-heading p {
    float: left;
    width: calc(100% - 135px);
    margin: 0 0 10px 0;
    font-family:'Futura Today Screen DemiBold';
    font-size: 20px;
    line-height: 24px;
}

.article-body {
    clear: both;
    width: 300px;
    margin: 0 auto;
}

.photo-containment-div {
    width: 100%;
    height: 348px;
}

.photo-containment-div .media-switcher {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 150px;
    background: url('../_global/bg-overlay.png');
    z-index: 50;
}

.photo-containment-div .media-switcher a {
    display: block;
    width: 45px;
    height: 45px;
    margin: 4px 0;
    text-indent: -9999px;
    opacity: 0.5;
}

.photo-containment-div .media-switcher a:hover {
    opacity: 0.8;
}

.photo-containment-div .media-switcher a.selected {
    opacity: 1;
}

.photo-containment-div .media-switcher a.photo {
    background: url('../_global/icon-media-photo.png') center center no-repeat;
}

.photo-containment-div .media-switcher a.video {
    background: url('../_global/icon-media-video.png') center center no-repeat;
}

.photo-containment-div .media-switcher a.map {
    background: url('../_global/icon-media-map.png') center center no-repeat;
}

.photo-containment-div .image {
    position: relative;
    width: 100%;
    height: 100%;
    background: center center no-repeat;
    background-size: cover;
}

.photo-containment-div .photo-credit {
    margin: 4px 0 15px 0;
    text-align: right;
    font-size: 11px;
}

.article-body .winner-name {
    margin: 40px 0 0 0;
    padding: 20px 0;
    font-family:'Futura Today Screen DemiBold';
    font-size: 35px;
    line-height: 40px;
}

.article-body address {
    line-height: 24px;
}

.article-body .article-content {
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid #eee;
    line-height: 24px;
    word-wrap: break-word;
}

.article-body .article-content u {
    font-family:'Futura Today Screen DemiBold';
    font-size: 18px;
}

.article-body .winner-byline {
    font-size: 12px;
}

.article-rail {
    width: 300px;
    max-width: 300px;
    margin: 0 auto;
}

.article-rail .dfp300x250 {
    float: none;
}

.article-rail .type-links {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.article-rail .type-links li {
    margin: 0 0 10px 0;
    line-height: 40px;
    border-radius: 10px;
    text-align: center;
}

.article-rail .type-links li a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
}

.article-discovery {
    width: 100%;
    height: 510px;
    margin: 20px 0 10px 0;
    overflow: hidden;
}

.article-discovery p.near-me {
    position: relative;
    height: 45px;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    overflow: visible;
}

.article-discovery p.near-me img.flag {
    position: absolute;
    top: 45px;
    left: 0;
}

.article-discovery .results {
    float: none;
    width: 100%;
}